body{
    box-sizing: border-box;
    background-image: url("../assets/demo-1-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
*{
    margin: 0;
}
a{
    text-decoration: none;
}